@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-times { font-family: var(--font-times), serif; font-weight: 400; }
.font-helvetica { font-family: var(--font-helvetica), Arial, sans-serif; }

/* Hide default calendar icon (Chrome, Safari, Edge) */
/* input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}

/* Optional: remove default appearance */
/* input[type="date"] {
  -webkit-appearance: none;
  appearance: none;
} */ 